<%- partial('_partial/head') %>

<body>
<%- partial('_partial/header', null, {cache: !config.relative_link}) %>

<section id="main">
    <%- body %>
    <%- partial('_partial/baidu-analytics') %>
    <script>
        window.__v = <%= (config.__v = config.__v || +(new Date)) %>;
    </script>
</section>

<div id="loadingMask"><span class="icon-cycle"></span></div>

<% if (false) { %>
<% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
<%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
<% } %>

<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

<%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
<% } %>
<%- partial('_partial/after-footer') %>
</body>
</html>
