<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-control" class="icon-list"></div>
        <div id="header-title" class="inner">
            <h1 id="logo-wrap">
                <a href="#" id="logo"><%= config.title %></a>
            </h1>
            <% if (theme.subtitle){ %>
            <h2 id="subtitle-wrap">
                <a href="#" id="subtitle"><%= theme.subtitle %></a>
            </h2>
            <% } %>
        </div>
        <div id="header-avatar"></div>
        <div id="header-inner" class="inner">
            <nav id="main-nav">
                <% for (var i in theme.menu){ %>
                <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                <% } %>
            </nav>
        </div>
        <!--<div id="header-search">
            <%- search_form({button: '&#xF002;'}) %>
        </div>-->
    </div>
</header>
